<?php
/*******************************************************************************
   Repérage du répertoire de base sur le serveur http et du répertoire 'include'
  qu'il contient.
  Les lignes qui suivent utilisent les expressions régulières (très pratiques 
  pour effectuer des recherches, extractions, modifications dans des chaînes de
  caractères). Ici on recherche dans le chemin complet du script le chemin  
  complet du dossier 'public_html' vu par le serveur. A partir de ce chemin,
  quelque soit le sous-répertoire dans lequel ce trouve ce script, le chemin
  exact du répertoire 'include' est reconstruit.
******************************************************************************/

// Session timeout in second
  $session_timeout = 900;


//$mysql_server = "127.0.0.1";
$mysql_server = "";
//$mysql_user = "learnagement";
$mysql_user = "";
//$mysql_passwd = "LMent2Change";
$mysql_passwd = "";
$mysql_db = "";
//$mysql_port = "43306";
$mysql_port = "";

// Identifiants pour générer les mots de passe
// $admin_user = "admin";
$admin_user = "";
// $admin_passwd = "password";
$admin_passwd = "";
?>