*.log
*~
**/logs
**/*venv*
**/vendor/*

# data and backup directories store private data, NEVER PUT IN ON GIT 
**/data
**/backup
db/docker-entrypoint-initdb.d

__pycache__
.*
#*
*#

# private files that contain password, NEVER PUT IN ON GIT (must be replaced by .env)
docker/docker-compose.yml
certs/
*.pem
*.key


# don't add js modules on git
front_NextJS/node_modules/
mobility_map/node_modules/
