*.log
*~
**/logs
**/venv

# data and backup directories store private data, NEVER PUT IN ON GIT 
**/data
**/backup
db/docker-entrypoint-initdb.d

__pycache__
.*
#*
*#

# private files that contain password, NEVER PUT IN ON GIT (must be replaced by .env)
docker/docker-compose.yml


# don't add js modules on git
webappnext/node_modules/
