*.log
*~
**/logs
**/venv

# data directories store private data, NEVER PUT IN ON GIT 
**/data


__pycache__
.*
#*
*#

# private files that contain password, NEVER PUT IN ON GIT (must be replaced by .env)
docker/docker-compose.yml
visualisation/visus/logs_db.txt

webApp/**/*.txt
*.txt

# don't add js modules on git
webappnext/node_modules/
