/* styles.css */

/* Sidebar */
.sidebar-container {
    background-color: #2c3e50;
    width: 250px;
    min-height: 100vh;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar .nav-link {
    color: white;
    font-size: 16px;
    padding: 10px;
}

.menu-item:hover {
    background-color: #007bff;
    text-decoration: none;
}





