html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    user-select: none;
}

#calendar-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #112074;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #132798;
}

#current-month {
    display: inline-block;
    margin: 0 20px;
    font-size: 1.5em;
    font-weight: bold;
    width: 300px;
}

#calendar-wrapper {
    display: flex;
    margin-top: 20px;
}

#time-scale {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-scale-header {
    font-weight: bold;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}

.time-slot {
    height: 40px;
    /* border-bottom: 1px solid #ccc; */
    width: 100%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

.day-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.day-header {
    font-weight: bold;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    height: 60px;
}

.day-header .day-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.day-header .date-number {
    display: block;
    font-size: 1.2em;
    color: black;
}

.day-header.current .day-name {
    color: #112074;
}

.day-header.current .date-number {
    background-color: #112074;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    display: inline-block;
}

.day-content {
    flex: 1;
    position: relative;
    /* border-top: 1px solid #ccc; */
    background-color: #fff;
}

.hour-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.event {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
    border-left: 5px solid;
    background-color: #eee;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
    z-index: 2;
    transform: scaleX(0.97) scaleY(0.97);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.event-content {
    display: flex;
    flex-direction: column;
}

.event-module {
    font-weight: bold;
    margin-bottom: 5px;
}

.event-type {
    margin-top: 5px;
}

.event:hover {
    background-color: #f0f8ff;
    transform: scale(1.02);
}

.tiers-temps {
    font-size: 0.7em; /* Texte plus petit pour les tiers-temps (pour pas polluer la mise en forme) */
}

#tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}