html {
    width: 100vw;
    height: 1080px;
}

body {
    margin: 0;
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#contenu{
    display: grid;
}

#piedpage {
    height: 10vh;
    margin: 0;
    background-color: #f7f7f7;
    color: #666;
    border-top: 1px solid #112074;
    text-align: center;
    line-height: 40px;
}