body{
    font-family: verdana;
}
#titre{
    color:#fff;
    
}
#menu {
    grid-area: sidebar;
    text-align: center;
    width : 100%;
    background-color: #112074;
    color:#fff;
}

ul#lemenu {
    list-style: none;
    margin: 10px 0 0;
    
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.btn_menu:hover,.btn_menu:focus{
    box-shadow: 0 0.5em 0.5em -0.5em #112074;
    transform: translateY(-0.15em);
}


.btn_menu {
    background-color: #fff;
    border: none;
    color: #112074;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    transition: background-color 0.3s;
}
S

div {
    display: block;
    unicode-bidi: isolate;
}

#container {
    display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "sidebar content"
        "sidebar footer";
}

#contenu_section {
    grid-area: content;
      padding: 1rem;
    border: 2px solid #112074;
    weight:100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


